aniso8601==4.0.1
asn1crypto==0.24.0
base58==1.0.2
bigchaindb-driver==0.6.2
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptoconditions==0.8.0
cryptography==2.3.1
Flask==1.0.2
Flask-RESTful==0.3.6
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.0
pyasn1==0.4.4
pycparser==2.19
PyNaCl==1.1.2
pysha3==1.0.2
python-rapidjson==0.6.3
python-rapidjson-schema==0.1.1
pytz==2018.7
requests==2.20.1
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1

